* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel-inner {
  height: 650px;
  object-fit: cover;
}

.card {
  width: 200px;
  object-fit: cover;
}

.img-componente{
  width: 60px;
}
